<script src="_demogen/codemirror/codemirror.js"></script>
<script src="_demogen/codemirror/mode/xml/xml.js"></script>
<script src="_demogen/codemirror/mode/css/css.js"></script>
<script src="_demogen/codemirror/mode/javascript/javascript.js"></script>
<script src="_demogen/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<link href="_demogen/codemirror/codemirror.css" rel="stylesheet" />
<link href="_demogen/codemirror/theme/default.css" rel="stylesheet" />
<link href="_demogen/codemirror/theme/{{ theme }}.css" rel="stylesheet" />
<style type="text/css">
.CodeMirror {
	height: 100%;
}

.CodeMirror-scroll {
    height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
</style>
<ul class="buttons">
	<li><a href="#" class="run">&nbsp;</a></li>
	<li><a href="#" class="clear">&nbsp;</a></li>
</ul>
<textarea id="editor">{{{ code }}}</textarea>
<script defer="defer">
var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
  mode: '{{ mode }}',
  theme: '{{ theme }}',
  indentUnit: 2,
  lineNumbers: true,
  tabMode: 'shift'
});

$('ul.buttons a').each(function() {
	var className = this.className;
	$(this).click(function(evt) {
		eve(className);
		
		evt.preventDefault();
		return false;
	});
});
</script>
